{% extends "base.html" %}
{% block content %}
    <div class="layout">
      <div class="layout__notice" id="global_notices"></div>
        <div class="layout__page layout__page_thin">
    <div class="shadow-box">
      <div class="shadow-box__title">Регистрация</div>

      <form action="/ajax/register/" class="form form_register s-form validateble" id="register_form" method="post" data-remote="true" novalidate="">
        <input type="hidden" name="state" value="f215366ce7695c0bbf76f6bccb104e0e">




        <fieldset class="form__fields">




          <div class="form__field s-field">
            <label for="email_field" class="form__field-label">E-mail</label>
            <input type="email" value="" class="form__field-input" id="email_field" name="email" autofocus="" autocomplete="off" data-required="true" data-validate_url="/ajax/check_availability/email/">
          </div>

          <div class="form__field s-field">
            <label for="nickname_field" class="form__field-label">Никнейм</label>
            <input type="text" value="" class="form__field-input" id="nickname_field" name="login" autocomplete="off" data-required="true" data-validate_url="/ajax/check_availability/login/">
          </div>

          <div class="form__field s-field">
            <label for="password_field" class="form__field-label">Пароль</label>
            <input type="password" value="" class="form__field-input" id="password_field" name="password" autocomplete="off" data-required="true" data-validate_url="/ajax/validate/password/" data-validate_password="password2">
          </div>

          <div class="form__field s-field">
            <label for="password_repeat" class="form__field-label">Пароль ещё раз</label>
            <input type="password" value="" class="form__field-input" id="password_repeat" name="password2" autocomplete="off" data-required="true" data-validate_url="/ajax/validate/password/" data-validate_password="password">
          </div>



            <div class="form__field">
              <input name="captcha" type="hidden">


  <div class="captcha habracaptcha">
    <input type="hidden" name="captcha_type" value="habr">
    <div class="captcha_widget">
      <div class="captcha_img">
        <img src="/captcha/" height="75" class="img_captcha" alt="" id="imgCaptcha">
      </div>
      <div class="captcha_link"><a class="reload" href="#" onclick="reloadRecaptcha();return false;">Обновить картинку</a></div>

      <div class="form__field form__field_captcha s-field">
        <label for="captcha" class="form__field-label">Символы с картинки</label>
        <input type="text" value="" tabindex="0" class="form__field-input" data-required="true" id="captcha" name="captcha" autocomplete="off">
      </div>
    </div>

    <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.ru.sCfjZKA5VWs.O/m=client,plusone/rt=j/sv=1/d=1/ed=1/am=wQE/rs=AGLTcCPn9ZwQvjp9R0fR2tV8X6Tjm-U8fw/cb=gapi.loaded_0" async=""></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://mc.yandex.ru/metrika/watch.js"></script><script>
      function reloadRecaptcha(){
        $('#imgCaptcha').attr('src','/captcha/?'+Math.random());
      }
    </script>
  </div>

            </div>

          <div class="form__buttons s-buttons">
            <button type="submit" name="go" id="registration_button" class="button button_wide button_primary disableble" disabled="">Зарегистрироваться</button>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="shadow-box shadow-box_additionals">
      <span class="form-additional-message">Уже зарегистрированы? <a href="" class="form-additional-message__link">Войдите</a></span>
    </div>
    <div class="layout__footer">
</div>

  </div>

    </div>



{% endblock %}