
:root {
  --px: 0;
  --py: 0;
}


.fancy-hover {
  background: #dedede;
  background: rgb(250, 241, 255);
  color: #FFF;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1em 1em;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: background-color 0.2s linear;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.fancy-hover:before,
.fancy-hover:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.1s linear;
}

.fancy-hover:before {
  width: 160px;
  height: 120px;
  background: radial-gradient(circle at center, #FFF 0%, transparent 60%);
  opacity: 0;
  mix-blend-mode: screen;
  transform: translate(
    calc( var(--px) * 1px ),
    calc( var(--py) * 1px )
  ) translate(-50%, -50%);

}

.fancy-hover:after {
  background: inherit;
  margin: 2px;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: 0;
  transition-delay: 0.05s;
}


.fancy-hover:hover { background-color: rgba(215, 216, 216, 0.9); }
.fancy-hover:hover:before { opacity: 0.6; }
.fancy-hover:hover:after { opacity: 0.85; transition-delay: 0s; }

/* ////////////////////////////////////////////////////////////////////////// */

.fancy-hover--blue:hover { background-color: #24455E; }

/* ////////////////////////////////////////////////////////////////////////// */

.fa { width: 1.25em; margin-right: 0.5em; font-size: 1.25em; text-align: center; }
   A {
    color: black; /* Цвет ссылок */
   }
      A:visited {
    color: black; /* Цвет посещенных ссылок */
   }
   A:active {
    color: black; /* Цвет активных ссылок */
   }
   A:hover {
     text-decoration: none; /* Убирает подчеркивание для ссылок */
   }




.cont-top {
  width: 50%;
  margin: 0 auto;
}

.top-menu{
  display: inline;
  text-align: center;
}

.a-top {
  display: inline-block;
  width: 25%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}

.two:hover ~ hr {
  margin-left: 25%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

.four:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: .25rem;
  width: 25%;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
}