<!DOCTYPE html>
<html lang="en">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link id="bootstrap-css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link id="bootstrap-css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='main2.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='ch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}">
{% block style %}{% endblock %}



<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
        <div class="cont-top">
          <ul>
            <li class="one top-menu"><a class="a-top" href="/main">Главная</a></li><!--
         --><li class="two top-menu"><a class="a-top" href="/search">Поиск</a></li><!--
         --><li class="three top-menu"><a class="a-top" href="/groups">Группы</a></li><!--
         --><li class="four top-menu"><a class="a-top" href="/notify">Уведомления</a></li><!--
         --><li class="five top-menu"><a class="a-top" href="#">Календарь</a></li><!--
         --><li class="six top-menu"><a class="a-top" href="#">Погода</a></li><!--
         --><li class="seven top-menu"><a class="a-top" href="/profile">Профиль</a></li><!--
         --><li class="eight top-menu"><a class="a-top" href="/out">Выход</a></li>
            <hr />
          </ul>
            </div>
{% block content %}{% endblock %}

</body>
</html>