{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='ch.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main2.css') }}">
{% endblock %}
{% block title %}
Чат
{% endblock %}

{% block content %}
<form>
  <input type="text" placeholder="Поиск...">
  <button type="submit"></button>
</form>
</div>
<div class="container">
  <div class="row">
    <div  class="col-xs-10  col-xl-8 offset-xl-2">


		<div class="gr">
            {% if data["members"] %}
                {% for member in data["members"] %}
                    <form class="sendmes" name="sendu" action="/profile" method="POST">
                    <div class="chat_list">
                      <div class="chat_people">
                          <div class="chat_img">
                              <img src={{ member["ava"] }} alt="sunil">
                          </div>
                          <div class="chat_ib">
                              <a class="a-top" href=#>
                                  <h5>{{ member["name"] }}
                                      <i class="fa fa-check-circle-o    online" aria-hidden="true">&nbsp;</i>
                                  </h5>
                              </a>
                              <br>
                              <p>{{ member["status"] }}</p>
                              <input name="id" class="d-none" type="text" value={{ member["id"] }}>
                              							<button class="bs pull-right pull-top" style="margin-bottom: 20px " type="submit"  class="login100-form-btn">
								<p style="color: #111111">Профиль</p>
							</button>
                          </div>
                      </div>
                    </div>
                    </form>
                {% endfor %}
            {% endif %}
        </div>


    </div>
</div>
</div>
    </div>
{% endblock %}