{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='ch.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main2.css') }}">
{% endblock %}
{% block title %}
Группы
{% endblock %}

{% block content %}
<form>
  <input type="text" placeholder="Поиск...">
  <button type="submit"></button>
</form>

<div class="container">
  <div class="row">
    <div  class="col-xl-8 offset-xl-2">
		<div class="gr">
            {% if data["groups"] %}
                {% for group in data["groups"] %}
                    <div class="chat_list">
                      <div class="chat_people">
                        <div class="chat_img"> <img src={{ group["ava"] }} alt="sunil"> </div>
                        <div class="chat_ib">
                            <form name="semd1" action="/friends" method="POST">
                                <input class="d-none" type="text" value={{ group["url"] }}>

                            <a class="a-top" href="/friends"><h5>{{ group["name"] }} </h5></a>
                            <br>
                            <p class="grdes">{{ group["descr"] }}</p></form>
                            <form class="search_row" name="search" action="/friends" method="POST">
                              <input class="d-none" required name="id" type="text" value={{ group["url"] }} placeholder="Поиск...">
                              <button class="green" type="submit"></button>
                            </form>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            {% endif %}
		</div>
    </div>
  </div>
</div>

{% endblock %}