<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AJAX вместе с Flask</title>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
</head>
<body>
<div class="alert" id="row1">
  <strong>Ура!</strong> Вы прочитали это важное сообщение.
</div>

    <form action="/get_len" method="post" name="form">
        <label for="name">Введите текст:</label>
        <input id="name" name="name" type="text">
        <input type="button" value="Отправить" onclick="get_len();">
    </form>
    <div class="test" id="len"></div>


</body>
</html>