{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main2.css') }}">


{% endblock %}
{% block title %}
Чат
{% endblock %}

{% block content %}
\
<div class="container">
    <div class="row">
        <div class="container">
            <div id="main">

                <div class="row" id="real-estates-detail">
                    <div class="col-lg-3 col-md-3 col-xs-12 offset-md-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center" id="author">
                                    <img src="http://bootstraptema.ru/snippets/element/2016/profilesection/myprofile.jpg">
                                    <h3>Василий Понторезов</h3>
                                    <small class="label label-warning">Российская Федерация</small>
                                    <p>Я простой Русский пацан и мне всё по барабану.</p>
                                    <p class="sosmed-author">
                                        <a href="#"><i class="fa fa-facebook" title="Facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter" title="Twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus" title="Google Plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin" title="Linkedin"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12 ">
                        <table class="table ">
                            <tbody>
                            <tr><td class="active">Зарегистрирован:</td><td>12-06-2016</td></tr>
                            <tr><td class="active">Последняя активность:</td><td>12-06-2016 / 09:11</td></tr>
                            <tr><td class="active">Страна:</td><td>Россия</td></tr>
                            <tr><td class="active">Город:</td><td>Волгоград</td></tr>
                            <tr><td class="active">Пол:</td><td>Мужской</td></tr>
                            <tr><td class="active">Полных лет:</td><td>43</td></tr>
                            <tr><td class="active">Семейное положение:</td><td>Женат</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- /.main -->
    </div><!-- /.container -->
</div>

{% endblock %}