{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main2.css') }}">
    <script src="{{url_for('static', filename = 'js/profile.js')}}"></script>


{% endblock %}
{% block title %}
Чат
{% endblock %}

{% block content %}
\
<div class="container">
    <div class="row">
        <div class="container">
            <div id="main">
        {% if data_g["profile"] %}

                <div class="row" id="real-estates-detail">
                    <div class="col-lg-3 col-md-3 col-xs-12 offset-md-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="text-center" id="author">
                                    <div class="ava">
                                    <img src={{ current_user.ava }}></div>
                                    <h3>{{ current_user.username }}</h3>
                                    <p>{{ current_user.status }}</p>
                                    {% if sel %}
                                        <p><a href="/changeprof" class="sendm">Изменить профиль</a></p>
                                        {% else %}
                                            <p><a href="#" class="sendm"    onclick="rm();">Сообщение</a></p>

                                        {% endif %}

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12 ">
                        <table class="table ">
                            <tbody>
                            <tr><td class="active">Зарегистрирован:</td><td>{{ current_user.regtime }}</td></tr>
                            <tr><td class="active">Дата рождения</td><td>{{ current_user.birth }}</td></tr>
                            <tr><td class="active">Страна:</td><td>{{ current_user.country }}</td></tr>
                            <tr><td class="active">Город:</td><td>{{current_user.city }}</td></tr>
                            <tr><td class="active">Пол:</td><td>{{ current_user.sex }}</td></tr>
                            <tr><td class="active">Полных лет:</td><td>{{current_user.age }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                        {% endif %}

            </div>
                        <div class="row" >
                    <div class="col-lg-12 col-md-12 col-xs-12">
<div class="d3 d5">

<form class="sendmes d-none" name="sendu" action="/sendm" method="POST">

  <input class="tem" required name="mtext" type="text" placeholder="Введите сообщение....">
  <button type="submit" onclick="add();"></button>
</form>
</div>
        </div><!-- /.main -->
        </div><!-- /.main -->
        </div><!-- /.main -->
    </div><!-- /.container -->
</div>

{% endblock %}