{% extends "base.html" %}
{% block style %}

<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main2.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='ch.css') }}">
{% endblock %}
{% block title %}
Чат
{% endblock %}

{% block content %}

<div class="d3">

<form class="search_row" name="search" action="/search" method="POST">
  <input required name="searchtext" type="text" placeholder="Поиск...">
  <button type="submit"></button>
</form>
</div>
<div class="container">
  <div class="row">


    <div  class="col-md-10  offset-md-2">
<div class="found">

        {% if data["messages"] %}
            {% for message in data["messages"] %}
		<div class="incoming_msg_s">
		  <div class="incoming_msg_img"> <img src={{ message["ava"] }} alt="sunil"> </div>
		  <div class="received_msg">
			<div class="received_withd_msg">
                                <a class="" href={{ message["profile"] }}><h6>{{ message["name"] }}</h6></a>
			  <p>{{ message["message"] }}</p>
			  <span class="time_date"> 11:01 AM    |    June 9</span></div>
		  </div>
		</div>
        <hr class="divide">
            {% endfor %}
        {% endif %}


		</div>
		</div>
		</div>
		</div>
{% endblock %}